<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clean My Airbnb JS Version</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="scripts/jQuery.js" defer></script>
    <!-- <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous" defer></script> -->
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/fullcalendar.css" />


</head>
<body>
  <header class="hidden">
    <nav>
      <h1>Under Construction</h1>
      <ul>
          <li><a href="/">Login</a></li>
          <li><a href="/m">Sample Landing Page</a></li> 
          <li><a href="/fullcalendar">Full Calendar</a></li>
          <li><a href="/calendar">Toast Calendar</a></li>
          <li><a href="/googlecalendar">Google Calendar</a></li>
      </ul>
    </nav>
  </header>
    <section>
        <div id='calendar'></div>
    </section>

  <main>

  </main>
  <footer>
    <h4>Footer</h4>
  </footer>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js" defer></script>
  <script src="scripts/app.js" defer></script>
  <script src="scripts/moment.js"></script>
  <script src="scripts/fullcalendar.js" defer></script>
  <!-- <script type='text/javascript' src='scripts/gcal.js'></script> -->

</body>
</html>