<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CleanMyBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="scripts/jQuery.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/fullcalendar.css" />


</head>
<body>
    <button class="ui circular icon button large teal showSidebar"><i class="calendar alternate outline icon"></i></button>
    <div class="ui top vertical menu sidebar">
        <a class="item checkForLogin" href="/">
          Home
        </a>
        <a class="item checkForLogin" href="/fullcalendar">
          Calendar
        </a>
        <a class="item checkForLogin" href="/housingunit">
          Profile
        </a>
      </div>
      <div class="overlay">

  <header class="hidden">
  </header>
  <div class="page-wrap">
  <div class="contentWrapper">

    <main>
  <section class="mainCalendar">
        <div class="" id='calendar'></div>
    </section>
    <section>
        <div class="calCEModalWrapper">
        </div>
    </section>
    <section>
    
 
      <div class="ui modal">
          <i class="close icon"></i>
          <div class="header">
            Modal Title
          </div>
          <div class="image content">
            <div class="image">
              An image can appear on left or an icon
            </div>
            <div class="description">
              A description can appear on the right
            </div>
          </div>
          <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
          </div>
        </div>
  </main>
  </div>
  </div>
  <div class="push"></div>

  <footer class="stickyFooter">
      <h4 class="footerHeader">2019 | brandon ford </h4>
    </footer>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js" defer></script>
  <script src="scripts/moment.js"></script>
  <script src="scripts/app.js" defer></script>
  <script src="scripts/fullcalendar.js" async defer></script>
  <script src="semantic/dist/semantic.min.js" async defer></script>
</div>
</body>
</html>