<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clean My BNB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="scripts/jQuery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" >
</head>
<body>
  <header class="hidden">
    <nav>
      <h1>Under Construction</h1>
      <ul>
          <li><a class="checkForLogin" href="/">Login</a></li>
          <li><a class="checkForLogin" href="/m">Sample Landing Page</a></li> 
          <li><a class="checkForLogin" href="/fullcalendar">Full Calendar</a></li>
          <li><a class="checkForLogin" href="/googlecalendar">Google Calendar</a></li>
      </ul>
    </nav>
  </header>

    <section>
      <h2>Your Housing Units</h2>
      <div class="userHUWrapper">
      </div>
    </section>
    <section>
      <button class="hideButton">Create Housing Unit</button>
      <div id="form-messages"></div>
      <form class="createHousingUnitForm hide" enctype="multipart/form-data" method="POST">
        <h2>Create Housing Unit</h2>
        <label>Address</label>
        <input
          id="housingUnitAddress"
          type="text"
          name="address"
          placeholder="Address"
        />
        <br/>
        <label>Unit Description</label>
        <input
          id="housingUnitDescription"
          type="text"
          name="unitdescription"
          placeholder="Unit Description"
        />
        <br/>
        <label>Airbnb URL</label>
        <input
          id="housingUnitAirbnbURL"
          type="url"
          name="aribnburl"
          placeholder="Airbnb URL"
        />
        <br/>
        <label>Special Requirements</label>
        <input
          id="housingUnitSpecialReq"
          type="text"
          name="specialrequirements"
          placeholder="Special Requirements"
        />
        <br/>
        <label>Host Tips</label>
        <input
          id="housingUnitHostTips"
          type="text"
          name="hosttips"
          placeholder="Host Tips"
        />
        <br/>
        <label>Cleaner Tips</label>
        <input
          id="housingUnitCleanerTips"
          type="text"
          name="cleanertips"
          placeholder="Cleaner Tips"
        />
        <br/>
        <label>Square Footage</label>
        <input
          id="housingUnitSizeSqFt"
          type="number"
          name="squarefootage"
          placeholder="Square Footage"
        />
        <br/>
        <label>Rooms</label>
        <input
          id="housingUnitSizeRooms"
          type="number"
          name="rooms"
          placeholder="Rooms"
        />
        <br/>
        <label>Bathrooms</label>
        <input
          id="housingUnitSizeBathrooms"
          type="number"
          name="bathrooms"
          placeholder="Bathrooms"
        />
        <br/>
        <label>Beds</label>
        <input
          id="housingUnitSizeBeds"
          type="number"
          name="beds"
          placeholder="Beds"
        />
        <br/>
        <label>Kitchen</label>
        <input
          id="housingUnitSizeKitchen"
          type="text"
          name="kitchen"
          placeholder="Kitchen"
        />
        <br/>
          <button type="submit" >Submit</button>
          <button class="hideButton" >Cancel</button>
      </form>
    </section>
    <section>
      <!-- <button class="hideButtonUpdate">Update Housing Unit</button>  -->
      <form class="updateHousingUnitForm hide">
        <h2>Update: Housing Unit</h2>
          <label>Address</label>
          <input
            id="housingUnitAddressU"
            type="text"
            name="address"
            placeholder="Address"
          />
          <br/>
          <label>Unit Description</label>
          <input
            id="housingUnitDescriptionU"
            type="text"
            name="unitdescription"
            placeholder="Unit Description"
          />
          <br/>
          <label>Airbnb URL</label>
          <input
            id="housingUnitAirbnbURLU"
            type="url"
            name="aribnburl"
            placeholder="Airbnb URL"
          />
          <br/>
          <label>Special Requirements</label>
          <input
            id="housingUnitSpecialReqU"
            type="text"
            name="specialrequirements"
            placeholder="Special Requirements"
          />
          <br/>
          <label>Host Tips</label>
          <input
            id="housingUnitHostTipsU"
            type="text"
            name="hosttips"
            placeholder="Host Tips"
          />
          <br/>
          <label>Cleaner Tips</label>
          <input
            id="housingUnitCleanerTipsU"
            type="text"
            name="cleanertips"
            placeholder="Cleaner Tips"
          />
          <br/>
          <label>Square Footage</label>
          <input
            id="housingUnitSizeSqFtU"
            type="number"
            name="squarefootage"
            placeholder="Square Footage"
          />
          <br/>
          <label>Rooms</label>
          <input
            id="housingUnitSizeRoomsU"
            type="number"
            name="rooms"
            placeholder="Rooms"
          />
          <br/>
          <label>Bathrooms</label>
          <input
            id="housingUnitSizeBathroomsU"
            type="number"
            name="bathrooms"
            placeholder="Bathrooms"
          />
          <br/>
          <label>Beds</label>
          <input
            id="housingUnitSizeBedsU"
            type="number"
            name="beds"
            placeholder="Beds"
          />
          <br/>
          <label>Kitchen</label>
          <input
            id="housingUnitSizeKitchenU"
            type="text"
            name="kitchen"
            placeholder="Kitchen"
          />
          <br/>
        <button class="hideButtonUpdate" type="submit">Update</button>
        <button class="hideButtonUpdate">Cancel</button>
        </form>
    </section>
    

    <section>
        <!-- <button class="hideButtonCreateC">Create Cleaning Event</button>   -->
        <div id="form-messages"></div>
        <form class="createCleaningEventForm hide" enctype="multipart/form-data" method="POST">
          <h2>Create Cleaning Event</h2>
          <label>Cal. Title</label>
          <input
            id="cleaningEventTitle"
            type="text"
            name="title"
            placeholder="Title"
          />
          <br/>
          <label>Cal. Start</label>
          <input
            id="cleaningEventStart"
            type="datetime-local"
            name="start"
            placeholder="Start"
          />
          <br/>
          <label>Cal. End</label>
          <input
            id="cleaningEventEnd"
            type="datetime-local"
            name="end"
            placeholder="End"
          />
          <br/>
          <label>Cal. URL</label>
          <input
            id="cleaningEventEnd"
            type="url"
            name="url"
            placeholder="URL"
          />
          <br/>
          <label>Cal. ClassName</label>
          <input
            id="cleaningEventClassName"
            type="text"
            name="classname"
            placeholder="ClassName"
          />
          <br/>
          <label>Cal. Color</label>
          <input
            id="cleaningEventColor"
            type="text"
            name="color"
            placeholder="Color"
          />
          <br/>
          <label>Cal. Background Color</label>
          <input
            id="cleaningEventBackgroundColor"
            type="text"
            name="backgroundcolor"
            placeholder="Background Color"
          />
          <br/>
          <label>Cal. Text Color</label>
          <input
            id="cleaningEventTextColor"
            type="text"
            name="textcolor"
            placeholder="Text Color"
          />
          <br/>
          <label>Cal. Description</label>
          <input
            id="cleaningEventDescription"
            type="text"
            name="description"
            placeholder="Description"
          />
          <br/>
          <label>Address</label>
          <input
            id="cleaningEventAddress"
            type="text"
            name="address"
            placeholder="Address"
          />
          <br/>
          <label>Guest Checkout</label>
          <input
            id="cleaningEventGuestCheckout"
            type="datetime-local"
            name="guestcheckout"
            placeholder="Guest Checkout"
          />
          <br/>
          <label>Next Guest Check In</label>
          <input
            id="cleaningEventNextGuestCheckIn"
            type="datetime-local"
            name="nextguestcheckin"
            placeholder="Next Guest Check In"
          />
          <br/>
          <label>Price Offered for: Cleaning</label>
          <input
            id="cleaningEventFinalPriceCleaning"
            type="number"
            name="amountdue"
            placeholder="Price Offered for Cleaning"
          />
          <br/>
          <label>Amount Due</label>
          <input
            id="cleaningEventAmountDue"
            type="number"
            name="amountdue"
            placeholder="Amount Due"
          />
          <br/>
          <label>Paid</label>
          <select id="cleaningEventPaid">
              <option value="false" selected="selected">Paid?</option>
              <option value="false">No</option>
              <option value="true">Ues</option>
            </select>
          <br/>
            <button type="submit" >Submit</button>
            <button class="hideButtonCreateC">Cancel</button>
        </form>
      </section>

<section>
          <h2>Your Cleaning Events</h2>
          <div class="userCEWrapper">
          </div>
</section>

      <section>
        <!-- <button class="submit">Update Cleaning Event</button> -->
        <form class="updateCleaningEventForm hide">
        <h2>Update: Cleaning Event</h2>
          <label>Cal. Title</label>
          <input
            id="cleaningEventTitleU"
            type="text"
            name="title"
            placeholder="Title"
          />
          <br/>
          <label>Cal. Start</label>
          <input
            id="cleaningEventStartU"
            type="datetime-local"
            name="start"
            placeholder="Start"
          />
          <br/>
          <label>Cal. End</label>
          <input
            id="cleaningEventEndU"
            type="datetime-local"
            name="end"
            placeholder="End"
          />
          <br/>
          <label>Cal. URL</label>
          <input
            id="cleaningEventURLU"
            type="url"
            name="url"
            placeholder="URL"
          />
          <br/>
          <label>Cal. ClassName</label>
          <input
            id="cleaningEventClassNameU"
            type="text"
            name="classname"
            placeholder="ClassName"
          />
          <br/>
          <label>Cal. Color</label>
          <input
            id="cleaningEventColorU"
            type="text"
            name="color"
            placeholder="Color"
          />
          <br/>
          <label>Cal. Background Color</label>
          <input
            id="cleaningEventBackgroundColorU"
            type="text"
            name="backgroundcolor"
            placeholder="Background Color"
          />
          <br/>
          <label>Cal. Text Color</label>
          <input
            id="cleaningEventTextColorU"
            type="text"
            name="textcolor"
            placeholder="Text Color"
          />
          <br/>
          <label>Cal. Description</label>
          <input
            id="cleaningEventDescriptionU"
            type="text"
            name="description"
            placeholder="Description"
          />
          <br/>
          <label>Address</label>
          <input
            id="cleaningEventAddressU"
            type="text"
            name="address"
            placeholder="Address"
          />
          <br/>
          <label>Guest Checkout</label>
          <input
            id="cleaningEventGuestCheckoutU"
            type="datetime-local"
            name="guestcheckout"
            placeholder="Guest Checkout"
          />
          <br/>
          <label>Next Guest Check In</label>
          <input
            id="cleaningEventNextGuestCheckInU"
            type="datetime-local"
            name="nextguestcheckin"
            placeholder="Next Guest Check In"
          />
          <br/>
          <label>Price Offered for: Cleaning</label>
          <input
            id="cleaningEventFinalPriceCleaningU"
            type="number"
            name="amountdue"
            placeholder="Price Offered for Cleaning"
          />
          <br/>
          <label>Amount Due</label>
          <input
            id="cleaningEventAmountDueU"
            type="number"
            name="amountdue"
            placeholder="Amount Due"
          />
          <br/>
          <label>Paid</label>
          <select id="cleaningEventPaidU">
              <option value="false" selected="selected">Paid?</option>
              <option value="false">No</option>
              <option value="true">Ues</option>
            </select>
          <br/>
            <button  type="submit" >Submit</button>
            <button class="hideButtonUpdateC">Cancel</button>
        </form>
      </section>

      <section>
          <button class="hideButtonCreateR">Create Review</button>
          <div id="form-messages"></div>
          <form class="createReviewForm hide" enctype="multipart/form-data" method="POST">
            <h2>Create Review</h2>
            <label>Type</label>
            <input
              id="reviewType"
              type="text"
              name="type"
              placeholder="Type"
            />
            <br/>
            <label>Host's Rating for Cleaner</label>
            <input
              id="reviewHostRatingCleaner"
              type="number"
              name="hostratingcleaner"
              placeholder="Rate on a Scale of 0-5 Stars"
            />
            <br/>
            <label>Cleaner's Rating for Host</label>
            <input
              id="reviewCleanerRatingHost"
              type="number"
              name="cleanerratinghost"
              placeholder="Rate on a Scale of 0-5 Stars"
            />
            <br/>
            <label>Host Review</label>
            <input
              id="reviewHostReview"
              type="text"
              name="hostReview"
              placeholder="Host Comment Here"
            />
            <br/>
            <label>Cleaner Review</label>
            <input
              id="reviewCleanerReview"
              type="text"
              name="cleanerreview"
              placeholder="Cleaner Comment Here"
            />
            <br/>
              <button class="hideButtonCreateR" type="submit" >Submit</button>
              <button class="hideButtonCreateR">Cancel</button>
          </form>
        </section>

        <section>
            <button class="hideButtonUpdateR">Update Review</button>
            <div id="form-messages"></div>
            <form class="updateReviewForm hide" enctype="multipart/form-data" method="POST">
            <h2>Update Review</h2>
              <label>Type</label>
              <input
                id="reviewTypeU"
                type="text"
                name="type"
                placeholder="Type"
              />
              <br/>
              <label>Host's Rating for Cleaner</label>
              <input
                id="reviewHostRatingCleanerU"
                type="number"
                name="hostratingcleaner"
                placeholder="Rate on a Scale of 0-5 Stars"
              />
              <br/>
              <label>Cleaner's Rating for Host</label>
              <input
                id="reviewCleanerRatingHostU"
                type="number"
                name="cleanerratinghost"
                placeholder="Rate on a Scale of 0-5 Stars"
              />
              <br/>
              <label>Host Review</label>
              <input
                id="reviewHostReviewU"
                type="text"
                name="hostReview"
                placeholder="Host Comment Here"
              />
              <br/>
              <label>Cleaner Review</label>
              <input
                id="reviewCleanerReviewU"
                type="text"
                name="cleanerreview"
                placeholder="Cleaner Comment Here"
              />
              <br/>
                <button class="hideButtonUpdateR" type="submit" >Submit</button>
                <button class="hideButtonUpdateR">Cancel</button>
            </form>
          </section>


  <main>
  </main>
  <footer>
    <h4>Footer</h4>
  </footer>
  
  <script src="scripts/moment.js" defer></script>
  <script src="scripts/app.js" defer></script>

</body>
</html>