<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CleanMyBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="scripts/jQuery.js" ></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" >


    <script src="semantic/dist/semantic.min.js" async defer ></script>
    <script src="semantic/dist/semantic.min.js" ></script>
    <script src="scripts/moment.js" ></script>
    <script src="scripts/app.js" ></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
</head>
<body class="body">
    <button class="ui circular icon button large teal showSidebar"><i class="calendar alternate outline icon"></i></button>
    <div class="ui top vertical menu sidebar">
        <a class="item checkForLogin" href="/">
          Home
        </a>
        <a class="item checkForLogin" href="/fullcalendar">
          Calendar
        </a>
        <a class="item checkForLogin" href="/housingunit">
          Profile
        </a>
        <a class="item logOut" href="/">
          Sign Out
        </a>
      </div>
      <div class="overlay">

<main class="mainWrapper">
  
  <div clas="masterUserProfileWrapper">
    <section class="userCardWrap">
      <h2>Hello!</h2>
      <div class="userProfileWrapper"></div></br>
    
    <div class="userButtonWrapper">
        <button class="ui big button teal updateUserButton">Update Your Profile</button>
        <button class="ui teal big button logOut">Sign Out</button>
    </section>
  </div>

    <section>
      <h2>Your Housing Units</h2>
      <h4 class="ui horizontal divider header">
      <i class="bed icon"></i>
      Listings
      </h4>
      <div class="userHUWrapper">
      </div>
    </section>

    </section>

    <section>

      </section>
<section>
          <h2>Your Cleaning Events</h2>
          <h4 class="ui horizontal divider header">
              <i class="calendar check outline icon"></i>
              Guest Checkouts and Cleaning Appointments
          </h4>
          <div class="userCEWrapper">
          </div>
      </section>
      <section>
<section>
  <div class="ui longer modal createHUModal">
  <div class="content">
      <form class="ui equal width form createHousingUnitForm" method="POST">
        <h2 class="ui dividing header">Create Housing Unit</h2>
          <div class="field">
            <label>Address</label>
            <input
              id="housingUnitAddress"
              type="text"
              name="address"
              placeholder="Address"
            />
          </div>
          <div class="field">
            <label>Unit Description</label>
            <input
              id="housingUnitDescription"
              type="text"
              name="unitdescription"
              placeholder="Unit Description"
            />
          </div>
          <div class="field">
            <label>Airbnb URL</label>
            <input
              id="housingUnitAirbnbURL"
              type="url"
              name="aribnburl"
              placeholder="Airbnb URL"
            />
          </div>
          <div class="field">
            <label>Special Requirements</label>
            <input
              id="housingUnitSpecialReq"
              type="text"
              name="specialrequirements"
              placeholder="Special Requirements"
            />
          </div>
          <div class="field">
            <label>Host Tips</label>
            <input
              id="housingUnitHostTips"
              type="text"
              name="hosttips"
              placeholder="Host Tips"
            />
          </div>
          <div class="field">
            <label>Cleaner Tips</label>
            <input
              id="housingUnitCleanerTips"
              type="text"
              name="cleanertips"
              placeholder="Cleaner Tips"
            />
          </div>
        <div class="five fields">
          <div class="field">
            <label>Square Footage</label>
            <input
              id="housingUnitSizeSqFt"
              type="number"
              name="squarefootage"
              placeholder="Square Footage"
            />
          </div>
          <div class="field">
            <label>Rooms</label>
            <input
              id="housingUnitSizeRooms"
              type="number"
              name="rooms"
              placeholder="Rooms"
            />
          </div>
          <div class="field">
            <label>Bathrooms</label>
            <input
              id="housingUnitSizeBathrooms"
              type="number"
              name="bathrooms"
              placeholder="Bathrooms"
            />
          </div>
          <div class="field">
            <label>Beds</label>
            <input
              id="housingUnitSizeBeds"
              type="number"
              name="beds"
              placeholder="Beds"
            />
          </div>
          <div class="field">
            <label>Kitchen</label>
            <input
              id="housingUnitSizeKitchen"
              type="number"
              name="kitchen"
              placeholder="Kitchen"
            />
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <button class="ui button cancelModalCHU" type="submit" >Submit</button>
          </div>
          <div class="field">  
            <button class="ui button cancelModalCHU hideButton" >Cancel</button>
          </div>
        </div>
      </form>

  </div>
  </div>    
</section>
        
<!-- DONE -->
<section>
          <div class="ui longer modal createCE">
              <div class="content">
                <form class="ui equal width form createCleaningEventForm " >
                    <h2 class="ui dividing header">Create Cleaning Event</h2>
                    <div class="two fields">
                    <div class="field">
                      <label>Start Cleaning</label>
                      <input
                        id="cleaningEventStart"
                        type="datetime-local"
                        name="start"
                        placeholder="Start"
                      />
                    </div>
                    <div class="field">
                        <label>End Cleaning</label>
                        <input
                          id="cleaningEventEnd"
                          type="datetime-local"
                          name="end"
                          placeholder="End"
                        />
                    </div>
                  </div>
                  <h4 class="ui dividing header">Cleaning Must Occur Between</h4>
                  <div class="two fields">
                      <div class="field">
                        <label>Guest Checkout</label>
                        <input
                          id="cleaningEventGuestCheckout"
                          type="datetime-local"
                          name="guestcheckout"
                          placeholder="Guest Checkout"
                        />
                      </div>
                      <div class="field">
                        <label>Next Guest Check In</label>
                        <input
                          id="cleaningEventNextGuestCheckIn"
                          type="datetime-local"
                          name="nextguestcheckin"
                          placeholder="Next Guest Check In"
                        />
                      </div>
                    </div>
                  <div class="two fields">
                    <div class="field">
                        <label>Cal. Title</label>
                        <input
                          id="cleaningEventTitle"
                          type="text"
                          name="title"
                          placeholder="Title"
                        />
                    </div>
                    <div class="field">
                      <label>Cal. URL</label>
                      <input
                        id="cleaningEventURL"
                        type="url"
                        name="url"
                        placeholder="URL"
                      />
                    </div>
                  </div>

                <div class="three fields">
                  <div class="field">
                    <label>Price Offered for: Cleaning</label>
                    <input
                      id="cleaningEventFinalPriceCleaning"
                      type="number"
                      name="amountdue"
                      placeholder="Price Offered for Cleaning"
                    />
                  </div>
                  <div class="field">
                    <label>Amount Due</label>
                    <input
                      id="cleaningEventAmountDue"
                      type="number"
                      name="amountdue"
                      placeholder="Amount Due"
                    />
                  </div>
                  <div class="field">
                    <label>Paid</label>
                    <select id="cleaningEventPaid" class="ui dropdown">
                        <option value="false" selected="selected">Paid?</option>
                        <option value="false">No</option>
                        <option value="true">Ues</option>
                      </select>
                  </div>
                </div>
                  <div class="two fields">
                  <div class="field">
                    <button class="ui button" type="submit" >Submit</button>
                  </div>
                  <div class="field"> 
                    <button class="ui button hideButtonCreateC cancelModalCE">Cancel</button>
                  </div>
                  </div>
                
                </form>

              </div>
            </div>
</section>
<!-- DONE -->
<section>
                <div class="ui longer modal CE">
                <div class="content">
                <form  id="updateCleaningEventForm" method="POST" class=" ui equal width form updateCleaningEventForm">
                  <h2>Update: Cleaning Event</h2>
                    <div class="two fields"> 
                      <div class="field">
                        <label>Cal. Title</label>
                        <input
                        id="cleaningEventTitleU"
                        type="text"
                        name="title"
                        placeholder="Title"
                        />
                      </div>
                      <div class="field">
                        <label>Cal. Start</label>
                        <input
                        id="cleaningEventStartU"
                        type="datetime-local"
                        name="start"
                        placeholder="Start"
                        />
                      </div>
                    </div>
                    <div class="two fields">
                      <div class="field">
                      <label>Cal. End</label>
                      <input
                        id="cleaningEventEndU"
                        type="datetime-local"
                        name="end"
                        placeholder="End"
                      />
                      </div>
                    <div class="field">
                      <label>Cal. URL</label>
                      <input
                        id="cleaningEventURLU"
                        type="url"
                        name="url"
                        placeholder="URL"
                      />
                    </div>
                  </div>
                  <div class="two fields">
                    <div class="field">
                      <label>Cal. ClassName</label>
                      <input
                        id="cleaningEventClassNameU"
                        type="text"
                        name="classname"
                        placeholder="ClassName"
                      />
                    </div>
                    <div class="field">
                      <label>Cal. Color</label>
                      <input
                        id="cleaningEventColorU"
                        type="text"
                        name="color"
                        placeholder="Color"
                      />
                    </div>
                  </div>
                  <div class="two fields">
                    <div class="field">
                      <label>Cal. Background Color</label>
                      <input
                        id="cleaningEventBackgroundColorU"
                        type="text"
                        name="backgroundcolor"
                        placeholder="Background Color"
                      />
                    </div>
                    <div class="field">
                      <label>Cal. Text Color</label>
                      <input
                        id="cleaningEventTextColorU"
                        type="text"
                        name="textcolor"
                        placeholder="Text Color"
                      />
                    </div>
                  </div>
                  <div class="two fields">
                    <div class="field">
                      <label>Cal. Description</label>
                      <input
                        id="cleaningEventDescriptionU"
                        type="text"
                        name="description"
                        placeholder="Description"
                      />
                    </div>
                    <div class="field">
                      <label>Address</label>
                      <input
                        id="cleaningEventAddressU"
                        type="text"
                        name="address"
                        placeholder="Address"
                      />
                    </div>
                  </div>
                  <div class="two fields">
                    <div class="field">
                      <label>Guest Checkout</label>
                      <input
                        id="cleaningEventGuestCheckoutU"
                        type="datetime-local"
                        name="guestcheckout"
                        placeholder="Guest Checkout"
                      />
                    </div>
                    <div class="field">
                      <label>Next Guest Check In</label>
                      <input
                        id="cleaningEventNextGuestCheckInU"
                        type="datetime-local"
                        name="nextguestcheckin"
                        placeholder="Next Guest Check In"
                      />
                    </div>
                  </div>
                    <div class="field">
                      <label>Price Offered for: Cleaning</label>
                      <input
                        id="cleaningEventFinalPriceCleaningU"
                        type="number"
                        name="amountdue"
                        placeholder="Price Offered for Cleaning"
                      />
                    </div>
                    <div class="two fields">
                    <div class="field">
                      <label>Amount Due</label>
                      <input
                        id="cleaningEventAmountDueU"
                        type="number"
                        name="amountdue"
                        placeholder="Amount Due"
                      />
                    </div>
                    <div class="field">
                      <label>Paid</label>
                      <select id="cleaningEventPaidU">
                          <option value="false" selected="selected">Paid?</option>
                          <option value="false">No</option>
                          <option value="true">Ues</option>
                        </select>
                    </div>
                  </div>
                  <div class="two fields">
                    <div class="field">
                      <button class="ui button sendData cancelMo" type="submit">Submit</button>
                    </div>
                    <div class="field">
                        <button class="ui button hideButtonUpdateC cancelMo">Cancel</button>
                    </div>
                  </div>
                  
              </form>
          </div>
        </div>
</section>
<!-- DONE -->
<section>
        <div class="ui longer modal updateHUModal ">
        <div class="content">
          <form  id="updateHousingUnitForm" method="POST" class=" ui equal width form updateHousingUnitForm">
              <h2>Update: Housing Unit</h2>
              <div class="field">
              <label>Address</label>
              <input
                id="housingUnitAddressU"
                type="text"
                name="address"
                placeholder="Address"
              />
            </div>
            <div class="field">
              <label>Unit Description</label>
              <input
                id="housingUnitDescriptionU"
                type="text"
                name="unitdescription"
                placeholder="Unit Description"
              />
            </div>
            <div class="field">
              <label>Airbnb URL</label>
              <input
                id="housingUnitAirbnbURLU"
                type="url"
                name="aribnburl"
                placeholder="Airbnb URL"
              />
            </div>
            <div class="field">
              <label>Special Requirements</label>
              <input
                id="housingUnitSpecialReqU"
                type="text"
                name="specialrequirements"
                placeholder="Special Requirements"
              />
            </div>
            <div class="field">
              <label>Host Tips</label>
              <input
                id="housingUnitHostTipsU"
                type="text"
                name="hosttips"
                placeholder="Host Tips"
              />
            </div>
            <div class="field">
              <label>Cleaner Tips</label>
              <input
                id="housingUnitCleanerTipsU"
                type="text"
                name="cleanertips"
                placeholder="Cleaner Tips"
              />
            </div>
            <div class="five fields">
              <div class="field">
                <label>Square Footage</label>
                <input
                  id="housingUnitSizeSqFtU"
                  type="number"
                  name="squarefootage"
                  placeholder="Square Footage"
                />
              </div>
              <div class="field">
                <label>Rooms</label>
                <input
                  id="housingUnitSizeRoomsU"
                  type="number"
                  name="rooms"
                  placeholder="Rooms"
                />
              </div>
              <div class="field">
                <label>Bathrooms</label>
                <input
                  id="housingUnitSizeBathroomsU"
                  type="number"
                  name="bathrooms"
                  placeholder="Bathrooms"
                />
              </div>
              <div class="field">
                <label>Beds</label>
                <input
                  id="housingUnitSizeBedsU"
                  type="number"
                  name="beds"
                  placeholder="Beds"
                />
              </div>
              <div class="field">
                <label>Kitchen</label>
                <input
                  id="housingUnitSizeKitchenU"
                  type="text"
                  name="kitchen"
                  placeholder="Kitchen"
                />
              </div>
            </div>
          <div class="two fields">
              <div class="field">
                  <button class="ui button cancelMoHU cancelModalHU" type="submit">Submit</button>
                </div>
            <div class="field">
              <button class="ui button hideButtonUpdateHU cancelModalHU">Cancel</button>
            </div>
          </div>
        </form>
    </div>
    </div>
</section>
    <section>
        <div class="ui longer modal updateU">
          <div class="content">
      <form class="ui equal width form updateUser" method="POST">
        <h2 class="ui dividing header">Update User</h2>
          <div class="two fields">
            <div class="field">  
              <label>Name</label>
                <input
                  id="userName"
                  type="text"
                  name="nameU"
                  placeholder="name"
                />
            </div>
            <div class="field">
                <label>Username</label>
                <input
                  id="userUsername"
                  type="text"
                  name="username"
                  placeholder="username"
                />
            </div>
          </div>
            <div class="field">
                <label>About Me</label>
                <input
                  id="userAboutMe"
                  type="text"
                  name="about"
                  placeholder=""
                />
            </div>
            <div class="three fields">
              <div class="field">
                <label>Company</label>
                <input
                  id="userCompany"
                  type="text"
                  name="company"
                  placeholder=""
                />
              </div>

              <div class="field">
                <label>Business Phone</label>
                <input
                  id="userBusinessPhone"
                  type="tel"
                  name="businesPhone"
                  placeholder=""
                />      
              </div>    
              <div class="field">
                    <label>Phone</label>
                    <input
                      id="userPhone"
                      type="tel"
                      name="phone"
                      placeholder=""
                    />          
              </div>
            </div>
            <div class="two fields">
                <div class="field">
                  <label>Cell Phone</label>
                  <input
                    id="userCell"
                    type="tel"
                    name="cellPhone"
                    placeholder=""
                  />
                </div>
                <div class="field">
                  <label>Text Alerts</label>
                  <select id="userTextAlerts">
                      <option value="false" selected="selected">Do you want text alerts?</option>
                      <option value="false">No</option>
                      <option value="true">Yes</option>
                    </select>
                  </div>


            </div>
            <div class="two fields">
              <div class="field">
                <label>Email</label>
                <input
                  id="userEmail"
                  type="email"
                  name="email"
                  placeholder="email"
                />
              </div>
              <div class="field">
                <label>Email Alerts</label>
                <select id="userEmailAlerts">
                  <option value="false" selected="selected">Do you want email alerts?</option>
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </div>
            </div>
            <div class="field">
                <label>Host Airbnb Calendar</label>
                <input
                id="userHostAirbnbCalendar"
                type="url"
                name="hostAirbnbCalendar"
                placeholder=""
                />
              </div>
            <div class="two fields">
              <div class="field">
                <label>Cleaning Radius (miles):</label>
                <input
                  id="userCleaningRadius"
                  type="number"
                  name="cleaningRadius"
                  placeholder="miles"
                />
              </div>
              <div class="field">
                <label>Cleaner</label>
                <select id="userCleaner">
                  <option value="false"   selected="selected">Select Host or  Cleaner</option>
                  <option value="false">Host</option>
                  <option value="true">Cleaner</option>
                </select>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
                <button class="ui button teal cancelModalU" type="submit">Submit</button>
            </div>
            <div class="field">
                <button class="ui button teal hideButton cancelModalU">Cancel</button>
            </div>
          </div>
        </form>
    </div>
    </div>
    </section>
  </main>
  <!-- <div id="map"></div> -->
</div>
<footer class="stickyFooter">
    <h4 class="footerHeader">2019
       why brandon? </h4>
  </footer>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key={apiKey}&callback=initMap"
  async defer></script> -->
  <!-- <script src="scripts/googleMap.js"defer></script> -->
  </div>
</body>
</html>