<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" >
    <link rel="stylesheet" type="text/css" media="screen" href="styles/Materialize/materialize.css" >
    <link rel="stylesheet" type="text/css" media="screen" href="styles/Materialize/style.css" >
    <title>clean my bnb</title>
</head>
<body>
    <!-- <p>Hello World</p>
    <a href="/">Nav item 1</a> -->
    <nav class="white" role="navigation">
            <div class="nav-wrapper container">
              <a id="logo-container" href="#" class="brand-logo"><img src="/images/logo3.png" /></a>
              <ul class="right hide-on-med-and-down">      
                <li><a href="/">Login</a></li>
                <li><a href="/fullcalendar">Full Calendar</a></li>
                <li><a href="/googlecalendar">Google Calendar</a></li>
              </ul>
        
              <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
              </ul>
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>

            <!-- <ul id="slide-out" class="sidenav">
                <li><div class="user-view">
                  <div class="background">
                    <img src="images/office.jpg">
                  </div>
                  <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                  <a href="#name"><span class="white-text name">John Doe</span></a>
                  <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div></li>
                <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                <li><a href="#!">Second Link</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
              </ul>
              <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->


          </nav>
        
          <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
              <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Clean My B</h1>
                <div class="row center">
                  <h5 class="header col s12 light">Local cleaners handle your checkouts</h5>
                </div>
                <div class="row center">
                  <a href="/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Sign Up</a>
                </div>
                <br><br>
        
              </div>
            </div>
            <div class="parallax"><img class="responsive-img" src="/images/adult-bath-towels-bed.jpg" alt="Unsplashed background img 1"></div>
          </div>
        
        
          <div class="container">
            <div class="section">
        
              <!--   Icon Section   -->
              <div class="row">
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Instantly Book Appointments</h5>
        
                    <p class="light">Lorem ipsum dolor amet green juice listicle dreamcatcher mustache keytar irony, hell of enamel pin blog. XOXO banjo shaman offal subway tile. Tilde keffiyeh unicorn letterpress photo booth wolf hammock man.</p>
                  </div>
                </div>
        
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>
        
                    <p class="light">Scenester tote bag biodiesel everyday carry synth meditation schlitz shabby chic enamel pin bespoke readymade. Tacos chia raw denim 90's, echo park intelligentsia twee crucifix marfa offal seitan. </p>
                  </div>
                </div>
        
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>
        
                    <p class="light">Lorem ipsum dolor amet fanny pack narwhal kogi shaman, kickstarter tacos wayfarers master cleanse marfa cornhole. Godard asymmetrical hella woke yr air plant af, iceland direct trade portland mixtape. Artisan blog viral fanny pack beard flexitarian. </p>
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        
        
          <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
              <div class="container">
                <div class="row center">
                  <h5 class="header col s12 light">Seemlessly turnover Airbnb units as guests checkout</h5>
                </div>
              </div>
            </div>
            <div class="parallax"><img class="responsive-img" src="/images/adult-airport-alone.jpg" alt="Unsplashed background img 2"></div>
          </div>
        
          <div class="container">
            <div class="section">
        
              <div class="row">
                <div class="col s12 center">
                  <h3><i class="mdi-content-send brown-text"></i></h3>
                  <h4>How Does It Work?</h4>
                  <p class="left-align light">Lorem ipsum dolor amet fanny pack narwhal kogi shaman, kickstarter tacos wayfarers master cleanse marfa cornhole. Godard asymmetrical hella woke yr air plant af, iceland direct trade portland mixtape. Artisan blog viral fanny pack beard flexitarian. Scenester tote bag biodiesel everyday carry synth meditation schlitz shabby chic enamel pin bespoke readymade. Tacos chia raw denim 90's, echo park intelligentsia twee crucifix marfa offal seitan. Man bun skateboard gluten-free, lyft pabst direct trade literally organic mixtape.</p>
                </div>
              </div>
        
            </div>
          </div>
        
        
          <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
              <div class="container">
                <div class="row center">
                  <h5 class="header col s12 light">Cleaners fill their schedules with back to back local appointments</h5>
                </div>
              </div>
            </div>
            <div class="parallax">
                <video controlsclass="responsive-video" autoplay="true" autoplay loop >
                    <source src="/images/timelapse_clouds.mov" >
                </video>
                </div>
          </div>
        
          <footer class="page-footer teal">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Clean My B</h5>
                  <p class="grey-text text-lighten-4">We connect Airbnb hosts in need of cleaning services with the best local cleaners.</p> 
                </div>
                <div class="col l3 s12">
                  <h5 class="white-text">Connect</h5>
                  <ul>
                    <li><a class="white-text" href="#!">Phone</a></li>
                    <li><a class="white-text" href="#!">Email</a></li>
                    <li><a class="white-text" href="#!">LinkedIn</a></li>
                    <li><a class="white-text" href="#!">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              Made by <a class="brown-text text-lighten-3" href="david.brandon.ford.com">Brandon</a>
              </div>
            </div>
          </footer>
    <script src="scripts/moment.js" defer></script>
    <script src="scripts/app.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" ></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="scripts/Materialize/init.js"></script>
    <script src="scripts/Materialize/materialize.js"></script>
</body>
</html>