<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CleanMyBnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="scripts/jQuery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" >

</head>
<body>
<header>
  <nav class="nav">
      <div class="container">
          <div class="logo">
              <a href="./"><img src="/images/Logo 4 224 80png.jpg"></a>
          </div>
          
          <div id="mainListDiv" class="main_list">
              <ul class="navlinks">
                  <li><a class="navLink scroll checkForLogin" href="#signIn">Login</a></li>
                  <li><a class="checkForLogin" href="/fullcalendar">Local Calendar</a></li>
                  <li><a class="checkForLogin" href="/housingunit">Profile</a></li>
              </ul>
          </div>
          <span class="navTrigger">
              <i></i>
              <i></i>
              <i></i>
          </span>
      </div>
  </nav>
</header>
<div class="page-wrap">
  <section class="home">
  </section>
  <div style="height: 1000px">
      <!-- just to make scrolling effect possible -->
    <h2 class="myH2">Never Clean A Unit Again</h2>
    <div class="cleanerImage">
      <img class="cleanerImg" src="/images/adult-bath-towels-bed.jpg">
    </div>

  </div>


<!-- Function used to shrink nav bar removing paddings and adding black background -->
  <script>
      $(window).scroll(function() {
          if ($(document).scrollTop() > 50) {
              $('.nav').addClass('affix');
              console.log("OK");
          } else {
              $('.nav').removeClass('affix');
          }
      });
  </script>

  <!-- DONE -->
  <div class="signInUpWrapper">

    <section class="signUp">
      <form class="ui form signUpForm" method="POST">
        <h2 class="ui dividing header">Sign Up</h2>
        <div class="field">
          <label>User Name</label>
          <div class="ui left icon input">
            <input
              id="signup-username"
              type="text"
              name="username"
              placeholder="username"
            />
            <i class="user icon"></i>
          </div>
          </div>
        <div class="field"> 
          <label>Password</label>
          <div class="ui left icon input">
            <input
              id="signup-password"
              type="password"
              name="password"
              placeholder="password"
            />
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Email</label>
          <div class="ui left icon input">
            <input
              id="signup-email"
              type="email"
              name="email"
              placeholder="email"
            />
            <i class="envelope icon"></i>
          </div>
        <div class="field">
          <!-- THIS IS A DROPDOWN WITH ICONS...try to modify if time permits -->


          <!-- <div class="ui selection dropdown signup-cleaner" id="signup-cleaner">
            <input type="hidden" name="Host or Cleaner?">
            <i class="dropdown icon"></i>
            <div class="default text"><i class="users icon"></i>Host or Cleaner?</div>
            <div class="menu" >
              <div class="item" value="true" data-value="heart"><i class="heart icon"></i>Cleaner</div>
              <div class="item" data-value="0"><i class="home icon"></i>Host</div>
            </div>
          </div> -->

            </div>
        </div>
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="public">
                <label>I agree to the Terms and Conditions</label>
            </div>
        <div class="field">
          <button class="ui big button teal ssubmitSignUp" type="submit" >Submit</button>
        </div>
      </form>
    </section>

    <section id="signIn" class="signIn">
        <form class="ui form signInForm" method="POST">
          <h2 class="ui dividing header">Sign In</h2>
          <div class="field">
            <label>Email</label>
            <div class="ui left icon input">
            <input
          id="signIn-email"  
          type="text"
          name="email"
          placeholder="email"
          />
          <i class="envelope icon"></i>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
            <input
            id="signIn-password"
            type="password"
            name="password"
            placeholder="password"
            />
            <i class="lock icon"></i>
          </div>
          <div class="field">
              <button class="ui teal big button" type="submit">Login</button>
          </div>
          </div>
  
          </form>
      </section> 
<!-- MODAL below button -->
    <section>
        <div class="ui longer modal updateU">
          <div class="content">    
            <form class="ui equal width form updateUser" method="POST">
              <h2 class="ui dividing header">Update User</h2>
                <div class="two fields">
                  <div class="field">  
                    <label>Name</label>
                      <input
                        id="userName"
                        type="text"
                        name="nameU"
                        placeholder="name"
                      />
                  </div>
                  <div class="field">
                      <label>Username</label>
                      <input
                        id="userUsername"
                        type="text"
                        name="username"
                        placeholder="username"
                      />
                  </div>
                </div>
                  <div class="field">
                      <label>About Me</label>
                      <input
                        id="userAboutMe"
                        type="text"
                        name="about"
                        placeholder=""
                      />
                  </div>
                  <div class="three fields">
                    <div class="field">
                      <label>Company</label>
                      <input
                        id="userCompany"
                        type="text"
                        name="company"
                        placeholder=""
                      />
                    </div>

                    <div class="field">
                      <label>Business Phone</label>
                      <input
                        id="userBusinessPhone"
                        type="tel"
                        name="businesPhone"
                        placeholder=""
                      />      
                    </div>    
                    <div class="field">
                      <label>Phone</label>
                      <input
                        id="userPhone"
                        type="tel"
                        name="phone"
                        placeholder=""
                      />          
                    </div>
                  </div>
                  <div class="two fields">
                      <div class="field">
                        <label>Cell Phone</label>
                        <input
                          id="userCell"
                          type="tel"
                          name="cellPhone"
                          placeholder=""
                        />
                      </div>
                      <div class="field">
                      <label>Text Alerts</label>
                      <select id="userTextAlerts">
                          <option value="false" selected="selected">Do you want text alerts?</option>
                          <option value="false">No</option>
                          <option value="true">Yes</option>
                        </select>
                      </div>
                  </div>
                  <div class="two fields">
                    <div class="field">
                      <label>Email</label>
                      <input
                        id="userEmail"
                        type="email"
                        name="email"
                        placeholder="email"
                      />
                    </div>
                    <div class="field">
                      <label>Email Alerts</label>
                      <select id="userEmailAlerts">
                        <option value="false" selected="selected">Do you want email alerts?</option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                      </select>
                    </div>
                  </div>
                  <div class="field">
                      <label>Host Airbnb Calendar</label>
                      <input
                      id="userHostAirbnbCalendar"
                      type="url"
                      name="hostAirbnbCalendar"
                      placeholder=""
                      />
                    </div>
                  <div class="two fields">
                    <div class="field">
                      <label>Cleaning Radius (miles):</label>
                      <input
                        id="userCleaningRadius"
                        type="number"
                        name="cleaningRadius"
                        placeholder="miles"
                      />
                    </div>
                    <div class="field">
                      <label>Cleaner</label>
                      <select id="userCleaner">
                        <option value="false"   selected="selected">Select Host or  Cleaner</option>
                        <option value="false">Host</option>
                        <option value="true">Cleaner</option>
                      </select>
                  </div>
                </div>
                <div class="two fields">
                  <div class="field">
                      <button class="ui button teal cancelModalU" type="submit">Submit</button>
                      <!-- Deleted hideButton class -->
                  </div>
                  <div class="field">
                      <button class="ui button teal hideButton cancelModalU">Cancel</button>
                  </div>
                </div>
              </form>
          </div>
          </div>
          </section>
        </div>
      </section>
  </main>
  </div>
  <footer class="stickyFooter">
    <h4 class="footerHeader">2019 |
      brandon ford </h4>
  </footer>
  
  <script src="scripts/moment.js" defer></script>
  <script src="scripts/app.js" defer></script>
  <script src="semantic/dist/semantic.min.js"></script>

</body>
</html>