<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clean My Airbnb JS Version</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="scripts/jQuery.js" defer></script>
    <!-- <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous" defer></script> -->
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
</head>
<body>
  <header class="hidden">
    <nav>
      <h1>Under Construction</h1>
      <ul>
          <li><a href="/">Login</a></li>
          <li><a href="/">Sample Landing Page</a></li>
          <li><a href="/fullcalendar">Full Calendar</a></li>
          <li><a href="/calendar">Toast Calendar</a></li>
          <li><a href="/googlecalendar">Google Calendar</a></li>
      </ul>
    </nav>
  </header>
  <button class="changeViewDay">Day View</button>
  <button class="changeViewWeek">Week View</button>
  <button class="changeViewMonth">Month View</button>
  <button class="moveBack">Move Back</button>
  <button class="moveForward">Move Forward</button>
  <button class="createScheduleOpen">Create Schedule</button>
    <section>
        <div id="calendar" style="height: 800px;"></div>
    </section>

  <main>

  </main>
  <footer>
    <h4>Footer</h4>
  </footer>
  
  <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js" defer></script>
  <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js" defer></script>
  <script src="scripts/moment.js" defer></script>
  <script src="scripts/app.js" defer></script>
  <script src="scripts/calendar.js" defer></script>
</body>
</html>